4k_new4.7z filter=lfs diff=lfs merge=lfs -text
4k_new4.zip filter=lfs diff=lfs merge=lfs -text
CNR[[:space:]](Cmodel)[[:space:]]-[[:space:]]non[[:space:]]4k.rar filter=lfs diff=lfs merge=lfs -text
CNR[[:space:]](Cmodel)[[:space:]]-[[:space:]]non[[:space:]]4k.7z filter=lfs diff=lfs merge=lfs -text
